#section-container-white {
    padding-top: 1rem;
    padding-bottom: 1rem;
        
}

#section-container-gray {
    background-color: #C2C2C1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

#left {
    text-align: left;
}

#right {
    text-align: right;
}

.section-p {
    margin-top: 0;
    margin-bottom: 0,5rem;
    text-align: justify;
    color: black;
}

.section {
    margin-top: 5px !important;
    margin-bottom: 1px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.small-carousel {
    width: 50%;
    align-self: center !important;
    align-items: center;
    position:fixed;

}

.corpus-button {
    margin-right: 10px;
    align-items: center;

}

.corpus-buttons {
    text-align: center;
    padding-bottom: 5px;
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.row {
    align-items: center !important;
}

.arrow_icon {
    color: black;
    width: 40px;
    height: 40px;
    padding-top: 3px;
}

.arrow_icon:hover {
    opacity: 0.5;
}

.arrow_icon_right {
    color: black;
    width: 40px;
    height: 40px;
    padding-top: 3px;
}


.arrow_icon_right:hover {
    opacity: 0.5;
}